<!doctype html>

<html lang="en"<% if (has.modernizr) { %>class="no-js"<% } %>>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= props.name %></title>
  <meta name="description" content="My project is awesome">
  <meta name="author" content="You">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css <%= structure.styles.getName() %>/app.css -->
  <link rel="stylesheet" href="<%= structure.build.getName() %>/<%= structure.styles.getName() %>/app.css">
  <!-- endbuild -->

  <% if (has.modernizr) { %>
  <!-- This is a 'default' version of Modernnizr and probably not the one you want -->
  <!-- Please, consider downloading you own one at http://modernizr.com/download/ -->
  <!-- And then remove those comments (but not the following one!) -->

  <!-- build:js <%= structure.vendors.getName() %>/modernizr.js -->
  <script src="vendors/modernizr.js"></script>
  <!-- endbuild -->
  <% } %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <!-- build:js <%= structure.scripts.getName() %>/app.js -->
  <script src="<%= structure.build.getName() %>/<%= structure.scripts.getName() %>/app.js"></script>
  <!-- endbuild -->
</body>
</html>
