<!doctype html>

<html lang="en"<% if (has.modernizr) { %>class="no-js"<% } %>>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= props.name %></title>
  <meta name="description" content="My project is awesome">
  <meta name="author" content="You">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="<%= structure.build.getName() %>/<%= structure.styles.getName() %>/app.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <script src="<%= structure.build.getName() %>/<%= structure.scripts.getName() %>/app.js"></script>
</body>
</html>
